* {
    box-sizing: border-box;
}


.container {
    width: 100%;
    height: 600px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
    /* parent has to have the modifier! */
}

.box {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}


/* CSS Layout practice */

.container1 {
    border: 4px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.box1 {
    border: 4px solid lightgray;
    width: 100px;
    height: 100px;
}

.box-wrapper {
    display: flex;
}

.box-small {
    width: 70px;
    height: 70px;
    margin-left: 10px;
}

/* CSS Layout 2 practice */

.container2 {
    border: 4px solid lightgray;
    padding: 24px 24px 0 24px;
}

.row2 {
    width: 100%;
    max-width: 600px;
    margin: 0 auto; /* How to center and max width a good layout */
}

.title2 {
    border: 2px solid lightgray;
    width: 100%;
    height: 24px;
    margin-bottom: 24px;
}

.box-wrapper2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box2 {
    border: 4px solid lightgray;
    width: 30%;
    height: 100px;
    margin-bottom: 24px;
}

/* CSS Layout 3 practice */

.container3 {
    border: 4px solid lightgray;
    padding: 24px 24px 0 24px;
    display: flex;
}

.row3 {
    width: 100%;
    max-width: 600px;
    display: flex;
    margin: 0 auto;
}

.box3-wrapper {
    width: 50%;
    padding-right: 24px;
}

.box3 {
    border: 2px solid lightgray;
    width: 100%;
    margin-bottom: 24px;
}

.box3-small {
    height: 50px;
}

.box3-large {
    width: 50%;
}
